{% extends 'base.html' %}

{% block content %}
<div class="container mt-3 content">

    <a class="icon-link icon-link-hover mb-2"
       style="--bs-icon-link-transform: translate3d(-.125rem, 0, 0); --bs-link-color-rgb: 97,100,102;"
       href="{{ url_for('spectra_types.index') }}">
        <i class="bi bi-arrow-left mb-auto"></i>
        Zurück
    </a>
    <h1>Erstellen <b><em>Spektrenart</em></b></h1>
    {% include 'includes/errors.html' %}
    <form method="POST" novalidate>
        {{ form.csrf_token }}
        <div class="mb-3">
            {{form.description.label(class="form-label")}}
            {{form.description(class="form-control", placeholder="roh")}}
            {% if form.description.errors %}
            <div class="alert alert-danger my-3" role="alert">
                {% for error in form.description.errors %}
                <p class="mb-0">
                    {{ error }}
                </p>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        <button type="submit" class="btn btn-primary">Erstellen</button>
    </form>
</div>
{% endblock %}
