{% extends 'base.html' %}

{% block content %}

<a class="icon-link icon-link-hover mb-2"
   style="--bs-icon-link-transform: translate3d(-.125rem, 0, 0); --bs-link-color-rgb: 97,100,102;"
   href="{{ url_for('spectral_ranges.index') }}">
    <i class="bi bi-arrow-left mb-auto"></i>
    Zurück
</a>
<h1>Neuen Spektralbereich erstellen</h1>
{% for mesg in get_flashed_messages() %}
<div class="alert alert-danger my-2" role="alert">
    {{ mesg }}
</div>
{% endfor %}
<form method="POST">
    <div class="mb-3">
        <label for="start" class="form-label">Start [cm<sup>-1</sup>]</label>
        <input type="number" class="form-control" id="start" name="start" value="{{ values.get('start') }}">
    </div>
    <div class="mb-3">
        <label for="end" class="form-label">Ende [cm<sup>-1</sup>]</label>
        <input type="number" class="form-control" id="end" name="end" value="{{ values.get('end') }}">
    </div>
    <button type="submit" class="btn btn-primary">Erstellen</button>
</form>

{% endblock %}
