{% extends 'base.html' %}

{% block content %}
<div class="container mt-3 content">

    <a class="icon-link icon-link-hover mb-2"
       style="--bs-icon-link-transform: translate3d(-.125rem, 0, 0); --bs-link-color-rgb: 97,100,102;"
       href="{{ url_for('compounds.index') }}">
        <i class="bi bi-arrow-left mb-auto"></i>
        Zurück
    </a>
    <h1>Bearbeiten <b><em>Referenzsubstanzen</em></b></h1>
    {% include 'includes/errors.html' %}
    <form method="POST" class="row g-3" novalidate>
        {{ form.csrf_token}}

        <div class="col-12">
            {{form.name.label(class="form-label")}}
            {{form.name(class="form-control", placeholder="Pyruvat")}}
            {% if form.name.errors %}
            <div class="alert alert-danger my-3" role="alert">
                {% for error in form.name.errors %}
                <p class="mb-0">
                    {{ error }}
                </p>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        <div class="col-md-4">
            {{form.coaddition.label(class="form-label")}}
            {{form.coaddition(class="form-control", placeholder="10")}}
            {% if form.coaddition.errors %}
            <div class="alert alert-danger my-3" role="alert">
                {% for error in form.coaddition.errors %}
                <p class="mb-0">
                    {{ error }}
                </p>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        <div class="col-md-4">
            {{form.integration_time.label(class="form-label")}}
            {{form.integration_time(class="form-control", placeholder="3000")}}
            {% if form.integration_time.errors %}
            <div class="alert alert-danger my-3" role="alert">
                {% for error in form.integration_time.errors %}
                <p class="mb-0">
                    {{ error }}
                </p>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        <div class="col-md-4">
            {{form.laser_power.label(class="form-label")}}
            {{form.laser_power(class="form-control", placeholder="25")}}
            {% if form.laser_power.errors %}
            <div class="alert alert-danger my-3" role="alert">
                {% for error in form.laser_power.errors %}
                <p class="mb-0">
                    {{ error }}
                </p>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        <div class="col-md-6">
            {{form.lenses.label(class="form-label")}}
            {{form.lenses(class="form-select")}}
            {% if form.lenses.errors %}
            <div class="alert alert-danger my-3" role="alert">
                {% for error in form.lenses.errors %}
                <p class="mb-0">
                    {{ error }}
                </p>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        <div class="col-md-6">
            {{form.lasers.label(class="form-label")}}
            {{form.lasers(class="form-select")}}
            {% if form.lasers.errors %}
            <div class="alert alert-danger my-3" role="alert">
                {% for error in form.lasers.errors %}
                <p class="mb-0">
                    {{ error }}
                </p>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        <div class="col-md-6">

            <label for="{{form.spectral_ranges.id}}" class="form-label">Spektralbereich [cm<sup>-1</sup>]</label>
            {{form.spectral_ranges(class="form-select")}}
            {% if form.spectral_ranges.errors %}
            <div class="alert alert-danger my-3" role="alert">
                {% for error in form.spectral_ranges.errors %}
                <p class="mb-0">
                    {{ error }}
                </p>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        <div class="col-md-6">
            {{form.resolutions.label(class="form-label")}}
            {{form.resolutions(class="form-select")}}
            {% if form.resolutions.errors %}
            <div class="alert alert-danger my-3" role="alert">
                {% for error in form.resolutions.errors %}
                <p class="mb-0">
                    {{ error }}
                </p>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        <div class="col-md-6">
            {{form.apertures.label(class="form-label")}}
            {{form.apertures(class="form-select")}}
            {% if form.apertures.errors %}
            <div class="alert alert-danger my-3" role="alert">
                {% for error in form.apertures.errors %}
                <p class="mb-0">
                    {{ error }}
                </p>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        <div class="col-md-6">
            {{form.slides.label(class="form-label")}}
            {{form.slides(class="form-select")}}
            {% if form.slides.errors %}
            <div class="alert alert-danger my-3" role="alert">
                {% for error in form.slides.errors %}
                <p class="mb-0">
                    {{ error }}
                </p>
                {% endfor %}
            </div>
            {% endif %}
            </select>
        </div>
        <div class="col-md-6">
            {{form.substrates.label(class="form-label")}}
            {{form.substrates(class="form-select")}}
            {% if form.substrates.errors %}
            <div class="alert alert-danger my-3" role="alert">
                {% for error in form.substrates.errors %}
                <p class="mb-0">
                    {{ error }}
                </p>
                {% endfor %}
            </div>
            {% endif %}
        </div>

        <div class="col-md-12">
            {{form.description.label(class="form-label")}}
            {{form.description(class="form-control")}}
            {% if form.description.errors %}
            <div class="alert alert-danger my-3" role="alert">
                {% for error in form.description.errors %}
                <p class="mb-0">
                    {{ error }}
                </p>
                {% endfor %}
            </div>
            {% endif %}
        </div>


        <div class="col-12">
            <button type="submit" class="btn btn-primary">Speichern</button>
        </div>
    </form>
</div>
{% endblock %}
