{% extends 'base.html' %}

{% block content %}
<div class="container mt-3 content">

    <a class="icon-link icon-link-hover mb-2"
       style="--bs-icon-link-transform: translate3d(-.125rem, 0, 0); --bs-link-color-rgb: 97,100,102;"
       href="{{ url_for('compounds.show', compound_id=compound_id) }}">
        <i class="bi bi-arrow-left mb-auto"></i>
        Zurück
    </a>

    <h1>Erstellen <b><em>Peaks</em></b></h1>
    {% include 'includes/errors.html' %}
    <div class="row">
        <div class="col-md-6">
            <form method="POST" novalidate>
                {{ form.csrf_token}}
                <div class="overflow-scroll" style="height: 50vh">
                    {% for wn in wavenumbers %}
                    <div class="row">
                        <div class="col-md-6">
                            <label for="{{wn}}" class="form-label">Wellenzahl [cm<sup>-1</sup>]</label>
                            <input type="number" class="form-control" id="{{wn}}" value="{{wn}}" disabled>
                        </div>
                        <div class="col-md-6">
                            <label for="{{wn}}_intensity" class="form-label">Intensität</label>
                            <select class="form-select" id="{{wn}}_intensity" name="{{wn}}_intensity">
                                {% for intensity in intensities %}
                                <option value="{{intensity.id}}">{{intensity.shorthand}} ({{intensity.description}})
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <button type="submit" class="btn btn-primary mt-3">Erstellen</button>
            </form>
        </div>
        <div class="col-md-6">
            <img src="data:image/png;base64,{{plot}}" width="100%">
        </div>
    </div>
</div>
{% endblock %}
