{% extends 'base.html' %}

{% block content %}
<div class="container mt-3 content">

    {% include 'includes/backToStart.html' %}
    {% include 'includes/errors.html' %}
    <div class="row">
        <div class="col-12 col-md-6 d-flex align-items-center justify-content-start">
            <h1>Übersicht <b><em>Objektive</em></b></h1>
        </div>
        <div class="col-12 col-md-6 d-flex align-items-center justify-content-start justify-content-md-end">
            <a type="button" class="btn btn-outline-success btn-sm" href="{{ url_for('lenses.new') }}"><i
                    class="bi bi-plus-lg"></i>
                Neues Objektiv erstellen
            </a>
        </div>
    </div>
    <div>
    </div>
    {% if lenses|length<=0 %}
    <h4>Es sind noch keine Objektive hinterlegt</h4>
    {% else %}

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Zoom</th>
            <th>Numerische Apertur</th>
            <th>Aktionen</th>
        </tr>
        </thead>
        <tbody>
        {% for lens in lenses %}
        <tr>
            <td>{{ lens.zoom }}x</td>
            <td>{{ lens.numerical_aperture }}</td>
            <td>
                <a type="button" class="btn btn-outline-primary btn-sm"
                   href="{{ url_for('lenses.edit', lens_id=lens.id) }}"><i
                        class="bi bi-pencil-fill"></i> Bearbeiten</a>
                <a type="button" class="btn btn-outline-danger btn-sm"
                   href="{{ url_for('lenses.delete', lens_id=lens.id) }}"><i
                        class="bi bi-trash-fill"></i> Löschen</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</div>
{% endblock %}