<!-- home page, extends base.hmtl -->
{% extends 'base.html' %}

{% block content %}
    <div class="content">
        <div class="container-fluid bg-dark text-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 my-5">
                        <div class="row">
                            <div class="col">
                                <h1 style="font-size: 4.5em">Spectra<b><em>Sphere</em></b></h1>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <h3><em>Speichern Nachschlagen Abfragen</em></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 my-5 d-flex align-items-center">
                        <h2>Refernzdatenbank für Raman-Spektren</h2>
                    </div>
                </div>

            </div>
        </div>
        <div class="container my-4">
            {% if current_user.is_authenticated %}
                <div class="row">
                    <div class="col-md-6">
                        <h3>Fügen Sie eine Refernzsubstanz hinzu</h3>
                        <p class="col-md-8">Refernzsubstanzen werden dazu verwendet, um bei einer späteren Abfrage zu
                            identifizieren, welche Substanzen in Frage kommen könnten </p>
                        <a type="button" class="btn btn-outline-success btn-sm" href="{{ url_for('compounds.new') }}">
                            <i class="bi bi-plus-lg"></i>
                            Referenzsubstanz hinzufügen
                        </a>
                    </div>
                    <div class="col-md-6">
                        <h3>Starten Sie eine Abfrage!</h3>
                        <p class="col-md-8">Wenn Sie eine Abfrage starten, können Sie mehrere Wellenzahlen eingeben.
                            Die Datenbank wird anschließend nach
                            Spitzen durchsucht, die in einem Toleranzbereich um die gegebenen Wellenzahlen liegt.
                        </p>
                        <a type="button" class="btn btn-outline-success btn-sm" href="{{ url_for('query.query') }}">
                            Abfrage starten
                        </a>
                    </div>
                </div>
            {% else %}
                <div class="row">
                    <div class="col-md-6">
                        <h3>Melden Sie sich an!</h3>
                        <p class="col-md-8">Sie können Refernenzsubstanzen nur hinzufügen bzw. Abfragen nur starten wenn
                            Sie
                            angemeldet sind!</p>
                        <a type="button" class="btn btn-outline-primary btn-sm" href="{{ url_for('auth.login') }}">
                            Anmelden
                        </a>
                    </div>
                    <div class="col-md-6">
                        <h3>Registrieren Sie sich!</h3>
                        <p class="col-md-8">Um sich anmelden zu können, müssen Sie sich zuerst registrieren.<br>Ihr
                            Account muss jedoch zuerst von einem Administrator freigeschalten werden</p>
                        <a type="button" class="btn btn-outline-primary btn-sm" href="{{ url_for('auth.signup') }}">
                            Registrieren
                        </a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}